# Environment
.env

# IDE
.vscode/

# OS
Thumbs.db
.DS_Store

# Uploaded files
uploads/*
!uploads/.gitkeep
!uploads/.htaccess
!uploads/instruments/
uploads/instruments/*
!uploads/instruments/.gitkeep
